body{
	background-color: #F0F0F0;
}
 body>div{
	background-color: white;
}
.header{
	height: 50px;
	background-color: #3bb4e3;
	line-height: 50px;
	text-align: center;
	width: 100%;
}

.header img{
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	height: 15px;
	width: 10px;
}
.header span{
	color: white;
	font-size: 20px;
}
.sousuo{
	margin: 0px auto;
	margin-top: 10px;
	height: 50px;
	border: 1px solid #ccc;
}

.sousuo li{float: left;
	height: 35px;
	line-height: 35px;
	}
.inputli{
	width: 70%;
	border: 1px solid #ccc;
	border-radius:5px ;
	margin-top: 7px;
	margin-left: 20px;
}
.inputli input{
	width: 70%;
}
.inputli img{
	height: 15px;
	width: 15px;
	margin-left: 5px;
}
.rescha{
	background-color:#3bb4e3;
	border-radius: 5px;
	width: 15%;
	margin-top: 7px;
	margin-left: 10px;
	text-align: center;
	color: white;
}
.rescha>a{
	border-radius: 6px;
    color: white;
    height: 100%;
    font-size: 16px;
    width: 35px;
}

.zhongjian_kuang{
	margin-top: 10px;
	border: 1px solid #ccc;
	height: 50PX;
	border-left: none;
	border-right: none;
}

.zhongjian li{
	width: 19%;
    float: left;
    border-right: 1px solid #ccc;
    text-align: center;
    height: 40px;
    margin-top: 5px;
    line-height: 40px;
}
.zhongjian .active{
	color: #3bb4e3;
}
/*weijihuo*/
.weijihuo{
	margin-top: 10px;
	border: 1px solid #ccc;
	padding-bottom:2% ;
}
 .state{
	text-align: right;
	padding-right: 5%;
}
.btn a{
    float: right;
    height: 26px;
    line-height: 26px;
    width: 18%;
    border-radius: 8px;
    background: #3bb4e3;
    text-align: center;
    margin-right: 10px;
    color: white;
    font-size: 17px;
}
.weijihuo li{
	padding-left: 5%;
	height: 26px;
	line-height: 26px;
}
