body{
	background-color: #F0F0F0;
}
 body>div{
	background-color: white;
}
.header{
	height: 50px;
	background-color: #3bb4e3;
	line-height: 50px;
	text-align: center;
	width: 100%;
	margin-bottom: 20px;
}

.header img{
	float: left;
	margin-left: 10px;
	margin-top: 20px;
	height: 15px;
	width: 10px;
}
.header span{
	color: white;
	font-size: 20px;
}


.shuru{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 1px;
	height: 50px;
	border-radius:5px ;
	line-height: 50px;
}

.img_1{
	width: 15px;
	height: 15px;
	margin: 10px;
}
.input_1,.input_2{ 
	border: none; 
	background-color:rgba(0,0,0,0);
	width: 80%;
	border-left: 1px solid #CCCCCC;
	padding-left: 5px;
	font-size: 16px;
}
.btn{
	margin-top: 50px;
	background: #3bb4e3;
	text-align: center;
	border-radius: 5px; 
	height: 26px;
    line-height: 26px;
    width: 95%;   
    color: white;
    font-size: 17px;
    margin-left: 10px;
}
.btn a
{
	color: white;
}
.shuru select{
	border: none; 
	background-color:rgba(0,0,0,0);
	width: 20%;	
	padding-left: 5px;
	font-size: 16px;
	color: #A9A9A9;
}
.shuru #select_k{
	border-left: 1px solid #CCCCCC;
}

.dianjixiugai{
	position: absolute;
	text-align: center;
	width: 20%;
	height: 25px;
	line-height: 25px;
	background-color:#3bb4e3 ;
	font-size: 16px;
	border-radius: 5px;
	top: 430px;
	right: 30px;
}
